@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Integrations.PIM.Inriver.Models.ViewModels.InriverEntityViewModel>

<div>
    <img src="@Model.ResourceUrl" alt="@Model.ResourceUrl" width="100" />
    <p>@Model.DisplayName</p>
    <p>@Model.DisplayDescription</p>
    @if (Model.Fields.Any())
    {
        <ul>
            @foreach (var field in Model.Fields)
            {
                <li>
                    <b>@field.FieldTypeId</b>: @field.Value
                    @field.Display
                </li>
            }
        </ul>
    }
</div>