@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Integrations.PIM.Inriver.Models.ViewModels.InriverEntityViewModel>

<div>
    <img src="@Model.ResourceUrl" alt="@Model.ResourceUrl" />
    <p>@Model.DisplayName</p>
    <p>@Model.DisplayDescription</p>
    @if (Model.Fields.Any())
    {
        <ul>
            @foreach (var field in Model.Fields)
            {
                <li><b>@field.Key</b>: @field.Value</li>
            }
        </ul>
    }
</div>