@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Integrations.PIM.Inriver.Models.ViewModels.InriverEntityViewModel>

<div>
    <img src="@Model.ResourceUrl" alt="@Model.ResourceUrl" width="100" />
    <h1>@Model.DisplayName</h1>
    <p>@Model.DisplayDescription</p>
    @if (Model.Fields.Any())
    {
        <ul>
            @foreach (var field in Model.Fields)
            {
                <li>
                    <div>
                        <b>@field.FieldTypeId</b>: @field.Value
                        <p>
                            @field.Display
                        </p>
                    </div>
                </li>
            }
        </ul>
    }
    @if (Model.Outbound != null)
    {
        <h3>Linked Types</h3>
        @foreach (var outboundItem in Model.Outbound)
        {
            <p><b>@outboundItem.Summary.DisplayName</b></p>
            <ul>
                @foreach (var field in outboundItem.Fields)
                {
                    <li>
                        <div>
                            <b>@field.FieldTypeId</b>: @field.Value
                            <p>
                                @field.Display
                            </p>
                        </div>
                    </li>
                }
            </ul>

        }
    }
</div>