@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Integrations.DAM.Aprimo.Models.ViewModels.AprimoAssetViewModel>

<style type="text/css">
    .aprimo-asset-row {
        display: flex;
        justify-content: center;
    }

        .aprimo-asset-row .thumbnail {
            float: left;
            margin-right: 10px;
        }

        .aprimo-asset-row .text {
            float: left;
        }

    .aprimo-crops-row {display: flex; width: 100%;}
        .aprimo-crops-row .column {
            flex: 50%;
            padding: 10px;
        }
</style>

<div class="aprimo-asset-row">
    @if (!string.IsNullOrEmpty(Model.Thumbnail))
    {
        <img class="thumbnail" src="@Model.Thumbnail" alt="@Model.Title" />
    }
    <div class="text">
        <h3>@Model.Title</h3>
    </div>
</div>
@if (Model.CropItemsVM.Any())
{
    <div class="aprimo-asset-row">
        <h3>Crop Items</h3>
        <br/>
        <div class="aprimo-crops-row">
            @foreach (var cropItem in Model.CropItemsVM)
            {
                <div class="column">
                    @if (!string.IsNullOrEmpty(cropItem.PublicLink))
                    {
                        <img src="@cropItem.PublicLink" class="thumbnail" />
                    }
                    <p><b>Label:</b> @cropItem.Label</p>
                    <p><b>Size:</b> @cropItem.ResizeWidth x @cropItem.ResizeHeight</p>
                </div>
            }
        </div>
    </div>
}