@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Integrations.DAM.Aprimo.Models.ViewModels.AprimoAssetViewModel>

<div class="aprimo-asset-row">
    @if (!string.IsNullOrEmpty(Model.Thumbnail))
    {
        <img class="thumbnail" src="@Model.Thumbnail" alt="@Model.Title" />
    }
    <div class="text">
        <h3>@Model.Title</h3>
    </div>
</div>
@if (Model.Crops.Any())
{
    <div class="aprimo-asset-row">
        <h3>Crop Items</h3>
        <div class="aprimo-crops-row">
            @foreach (var cropItem in Model.Crops)
            {
                <div class="column">
                    @if (!string.IsNullOrEmpty(cropItem.PublicLink))
                    {
                        <img src="@cropItem.PublicLink" class="thumbnail" alt="@cropItem.Label" />
                    }
                    <p><b>Label:</b> @cropItem.Label</p>
                    <p><b>Size:</b> @cropItem.ResizeWidth x @cropItem.ResizeHeight</p>
                </div>
            }
        </div>
    </div>
}