@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Integrations.DAM.Aprimo.Models.ViewModels.AprimoAssetViewModel>

<!-- Thumbnail -->
<div class="aprimo-asset-row">
    @if (!string.IsNullOrEmpty(Model.Thumbnail))
    {
        <img class="thumbnail" src="@Model.Thumbnail" alt="@Model.Title" />
    }
    <div class="text">
        <h3>@Model.Title</h3>
    </div>
</div>
<!-- Crops -->
@if (Model.MediaWithCrops != null)
{
    <div class="aprimo-asset-row">
        <h3>Cropped images</h3>
        @if (Model.MediaWithCrops.Original != null)
        {
            <div class="column">
                <h3>@Model.MediaWithCrops.Original.Name</h3>
                @if (!string.IsNullOrEmpty(Model.MediaWithCrops.Original.Url))
                {
                    <img src="@Model.MediaWithCrops.Original.Url" class="thumbnail" alt="@Model.MediaWithCrops.Original.Name" />
                }
            </div>
        }
        @if (Model.MediaWithCrops.Crops.Any())
        {
            @foreach (var cropItem in Model.MediaWithCrops.Crops)
            {
                <div class="column">
                    @if (!string.IsNullOrEmpty(cropItem.Url))
                    {
                        <img src="@cropItem.Url" class="thumbnail" alt="@cropItem.Name" />
                    }
                    <h3>@cropItem.Name</h3>
                    <p>
                        @cropItem.Extension - @($"{cropItem.ResizeWidth} x {cropItem.ResizeHeight} px")
                    </p>
                </div>
            }
        }
    </div>
}